.game-top-right-icons > a:last-of-type > i {
	bottom: 0px!important;
}

.game-top-right-icons > a:last-of-type {
	display: flex;
	align-items: center;
}

#progress-bar-honor {
    width: 100%;
    box-shadow: inset 0px 0px 3px 1px #9090901c;
    background: #101010;
    display: inline-block;
    vertical-align: middle;
}

#progress-bar-percentage_t {
	background: #f1c40f;
	padding: 5px 0px;
	color: #FFF;
	text-align: center;
	height: 1px;
	transition: 0.1s;
	background-color: #f1c40f;
	box-shadow: inset 0px 0px 3px 1px #ffffff12;
	border: 1px solid #292929;
}

div.failure, div.success, div.error {
	z-index: 99;
    position: sticky;
    top: 10px;
}

.game-container {max-width:100vw;}

.game-profile-player.gboxshadow.gdark.tleft .gtable.gtable-bordered {
	display: grid;
    grid-template-columns: 1fr 1fr;
}

.game-profile-player.gboxshadow.gdark.tleft .gtable.gtable-bordered .gtr.gtr-dark {
	display: flex;
    justify-content: space-around;
}

.game-profile-player.gboxshadow.gdark.tleft .gtable.gtable-bordered .gtr.gtr-dark .gtd.gcat {
	width: 100%;
}