.hficon-battery-100 {
	bottom: 0px!important;
}

.game-top-right-icons > a:last-of-type {
	display: flex;
	align-items: center;
}

#progress-bar-honor {
    width: 100%;
    box-shadow: inset 0px 0px 3px 1px #9090901c;
    background: #101010;
    display: inline-block;
    vertical-align: middle;
}